body{
    background-image: url("../img/color2.png");
    font-family: sans-serif;
    color: #FFFFFF;
    text-shadow: 1px 0px #000000;
    margin: 0px;
}

a{
    list-style-type: none;
    color: white;
}   

.Home{
    color: white;
    text-shadow: 1px 1px black;
    height: 60px;
    width: 1920px;
    background-size: cover;
    font-size: 48px;
    text-align: center;
    padding: 50px 0px 0px 0px;
    margin: 0px;
}

section.bf{
    
    left: 20px;
    top: 240px;
    background-color: rgba(13, 13, 13, 0.4);
    width: 480px;
    height: 650px;
    padding: 0px 0px 0px 50px;
}

section.du{
    
    left: 700px;
    top: 240px;
    background-color: rgba(13, 13, 13, 0.4);
    width: 480px;
    height: 650px;
    padding: 0px 0px 0px 50px;
}

section.ow{
    
    right: 20px;
    top: 240px;
    background-color: rgba(13, 13, 13, 0.4);
    width: 480px;
    height: 650px;
    padding: 0px 0px 0px 50px;
}

section.w3page{
    color: rgb(255, 255, 255);
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/news_block_bg2.png) 0px 0px no-repeat;
    background-color: rgba(13, 13, 13, 0.4);
    width: 640px;
    height: 860px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: outset;
    display: flex;
    padding-left: 10px;
}

section.cspage{
    display: flex;
    background: url(http://media.steampowered.com/apps/csgo/blog/images/contentBkndTexture.jpg);
    width: 940px;
    height: 990px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: outset;
    margin-left: 650px;
}

h1.gtah{
    color: white;
    text-shadow: 1px 1px black;
    height: 60px;
    width: 1920px;
    background-size: cover;
    font-size: 48px;
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin: 0px;
}

div.wrapper{
    margin: 55px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article{
    background-color: rgba(13, 13, 13, 0.4);
    width: 420px;
    margin-bottom: 24px;
    margin-left: 20px;
    order: 2;
    padding: 0px 10px 30px 10px;
}

img{
    width: 400px;
    height: 200px;
}

div.wrappernieuws{
    margin: 55px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article.n{
    background-color: rgba(13, 13, 13, 0.4);
    width: 400px;
    margin-bottom: 24px;
    margin-left: 67px;
    order: 2;
    padding: 0px 50px 30px 50px;
}

article.n h2{
    padding: 0px;
    margin-bottom: 0px;
}

article.n h3{
    padding: 0px;
    margin-top: 0px;
}

div.wrappergta{
    margin: 30px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article.g img{
    width: 600px;
    height: 400px;
}

article.g{
    background-color: rgba(13, 13, 13, 0.4);
    width: 610px;
    margin-bottom: 24px;
    margin-left: 590px;
    order: 2;
    padding: 0px 10px 30px 10px;
}

div.wrapperwitcher{
    margin: 30px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article.w img{
    width: 600px;
    height: 400px;
}

article.w{
    background-color: rgba(13, 13, 13, 0.4);
    width: 610px;
    margin-bottom: 24px;
    margin-left: 590px;
    order: 2;
    padding: 0px 10px 30px 10px;
}

article.w h2{
    background-image: url("../img/red-1.jpg");
    color: rgba(255, 255, 255, 0.9);    
    font-size: 28px;
    width: 320px;
    padding: 10px 10px 5px 10px;
    margin: 5px 5px 5px 120px;
}

div.wrappercs{
    margin: 30px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article.cs img{
    width: 520px;
    height: 525px;
    margin-left: 40px;
}

article.cs{
    background-color: rgba(13, 13, 13, 0.4);
    width: 610px;
    margin-bottom: 24px;
    margin-left: 640px;
    order: 2;
    padding: 0px 10px 30px 10px;
}

article.cs h2{
    margin-left: 115px;
}

article.cs h3{
    margin-left: 115px;
}


div.wrapperpubg{
    margin: 30px 0px 0px 70px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

article.p img{
    width: 800px;
    height: 440px;
}

article.p{
    background-color: rgba(13, 13, 13, 0.4);
    width: 800px;
    margin-bottom: 24px;
    margin-left: 490px;
    order: 2;
    padding: 0px 10px 30px 10px;
}

#csmediamarkt{
    
    top: 860px;
    right: 320px;
    width: 320px;
    height: 210px
}

#csbol{
    
    top: 230px;
    right: 320px;
    width: 320px;
    height: 210px
}

#csg2a{
    
    top: 650px;
    right: 320px;
    width: 320px;
    height: 210px;
}

#csking{
    
    top: 440px;
    right: 320px;
    width: 320px;
    height: 210px
}

#jaar{
    
    bottom: 20px;
    right: 20px;
    height: 120px;
    width: 246px;
}

#g2a{
    
    bottom: 20px;
    right: 1220px;
    height: 120px;
    width: 346px;
}

#king{
    
    bottom: 20px;
    right: 1575px;
    height: 120px;
    width: 346px;
}

#bol{
    
    bottom: 20px;
    right: 276px;
    height: 120px;
    width: 450px;
}

.Bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/Blue-7.png");
}

.Bar li{
    float: left;
}

.Bar li a{
    display: block;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    text-align: center;
    font-size: 21px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.Bar li a:hover {
    color: rgb(169, 213, 212);
}

i{
    padding-left: 5px;
}