body{
    background-image: url("../img/color2.png");
    font-family: sans-serif;
    color: #FFFFFF;
    text-shadow: 1px 0px #000000;
    margin: 0px;
}

a{
    list-style-type: none;
    color: white;
}   

.Home{
    background-image: url("../img/Blue-77.png");
    color: white;
    text-shadow: 1px 1px black;
    height: 60px;
    width: 1920px;
    background-size: cover;
    font-size: 48px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    margin: 0px;
}

#w3{
    position: absolute;
    top: 336px;
    left: 222px;
}

#w3img{
    height: 210px;
    width: 371.6px;
    position: absolute;
    left: 90px;
    top: 396px;
    padding: 0px;
    margin: 0px;
}

.w3text{
    padding: 48px;
}

#h1w3{
    background-image: url("../img/red-1.jpg");
    color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    font-size: 28px;
    width: 320px;
}

#w3p{
    position: absolute;
    left: 90px;
    top: 595px;
    width: 388px;
}

#wbw{
    position: absolute;
    left: 850px;
    top: 287px;
    width: 800px;
}

section.w3page{
    color: rgb(255, 255, 255);
    background: url(https://static.cdprojektred.com/thewitcher.com/gfx/news_block_bg2.png) 0px 0px no-repeat;
    background-color: rgba(13, 13, 13, 0.4);
    width: 640px;
    height: 874px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: outset;
    display: flex;
}

#cs{
   position: absolute;
   top: 335px;
   right: 196px;
}

#csimg{
    position: absolute;
    top: 396px;
    right: 83px;
    width: 382px;
    height: 202px;
}

#csp{
    position: absolute;
    top: 593px;
    right: 64px;
    width: 400px;   
}

section.cspage{
    display: flex;
    background: url(http://media.steampowered.com/apps/csgo/blog/images/contentBkndTexture.jpg);
    width: 940px;
    height: 990px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: outset;
    margin-left: 650px;
}

#cstext{
    padding-left: 40px;
    width: 520px;
}

#csh3{
    padding-left: 40px;
}

#h1cs{
    background-image: url("../img/color5.png");
    font-size: 28px;
    padding: 5px;
    width: 415px;
    text-align: center;
    margin-left: 40px;
}

#cshydra{
    width: 520px;
    height: 525px;
    margin-left: 40px;
    opacity: 0.5;
    border: 2px outset rgba(255, 255, 255, 0.3);
}

#csmediamarkt{
    position: absolute;
    top: 860px;
    right: 320px;
    width: 320px;
    height: 210px
}

#csbol{
    position: absolute;
    top: 230px;
    right: 320px;
    width: 320px;
    height: 210px
}

#csg2a{
    position: absolute;
    top: 650px;
    right: 320px;
    width: 320px;
    height: 210px;
}

#csking{
    position: absolute;
    top: 440px;
    right: 320px;
    width: 320px;
    height: 210px
}
#pubg{
    position: absolute;
    top: 322px;
    left: 874px;
}

#pubgimg{
    position: absolute;
    top: 380px;
    left: 730px;
}

#pubgp{
    position: absolute;
    top: 587px;
    left: 728px;
    width: 484px;
    padding: 5px;
}

.pubg{
    margin-left: 470px;
}

#pubgimg2{
    width: 960px;
    height: 600px;
}

#pubgtext{
    width: 990px;
}

#pubgup{
    padding-top: 40px;
}

#jaar{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 120px;
    width: 246px;
}

#g2a{
    position: absolute;
    bottom: 20px;
    right: 1220px;
    height: 120px;
    width: 346px;
}

#king{
    position: absolute;
    bottom: 20px;
    right: 1575px;
    height: 120px;
    width: 346px;
}

#bol{
    position: absolute;
    bottom: 20px;
    right: 276px;
    height: 120px;
    width: 450px;
}

.Bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/Blue-7.png");
}

.Bar li{
    float: left;
}

.Bar li a{
    display: block;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
    text-align: center;
    font-size: 21px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.Bar li a:hover {
    color: rgb(169, 213, 212);
}

i{
    padding-left: 5px;
}